.suivant{
    position: relative;
    width: 125px;
    left: 60px;
    margin: 20px 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    background-color: #08222F;
    color: #BA7682;
    padding: 12px 0;
}
