body{
    background-color: #022934;
    font-family: Roboto Light;
    color: #D5F0F4;
    text-align: center;
}
header,footer{
    background-color: #08222F;
    width: 370px;
}
h1{
    position: relative;
    top: -50px;
    font-family: Syncopate;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 21px;
}
h2,h3{
    color: #B8E5EC;
}
.source{
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
}
p {
    text-align: left;
    font-size: 18px;
    line-height: 1.6rem;
}
.texte>p>a,.centrage-carousel-1>p>a,.centrage-carousel-2>p>a,.centrage-carousel-3>p>a{
    text-decoration: none;
    color: #BA7682;
}
.suivant>a{
    text-decoration: none;
    color: #BA7682;
}
ul>li>a{
    text-decoration: none;
    color: #D5F0F4;
}
.bloc_projet>a{
    color: #D5F0F4;
}
.accueil-nav a{
    text-decoration: none;
}